html {
  scrollbar-gutter: stable;
  overflow-y: scroll;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body[data-scroll-locked] {
  margin-right: 0 !important;
  overflow: visible !important; /* prevent Radix from hiding the scrollbar */
}
